.navbar{
    justify-content: space-between;

}
.background{
    background-image: url("./images/pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px
}
.img1{
    border-radius: 50%;
}
.para{
    color: gray;
    font-size: 20px;
    font-weight: bold;
}
.para1{
    color:rgb(197, 90, 90);
    font-size: 16px;
    font-weight: bold;
}
span{
    color: brown;
    font-weight: bold;
    font-size:20px ;
}
h3{
    font-family: sans-serif;
    color:white;
    font-size: 20px;
    margin-left: 80px;
}
h3:before{
    content: "";
    display: block;
    width: 70px;
    height: 3px; 
    background:white;
    left: 0;
    bottom: 85px; 
     position: absolute; 
}
.card-img{
    border-radius: 50%;
}
.row{
    background-color: rgb(18, 18, 44);
    padding-bottom: 50px;
    

    
}
h2{
    color: white;
    
}


h2:after{
    content: "";
    display: block;
    width: 70px;
    height: 5px; 
    background:brown;
    right: 330px;
    top: 760px; 
     position: absolute; 
     
}
.para2{
    color: white;
    font-size: 16px;
    font-family:moui-serif ;
}
.contacts{
    
    color:white;
    
}
.interests{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: white;
    align-content: center;
}
h4{
    color:rgb(150, 38, 38);
    font-size: 20px;
    font-weight: bold;

}

#container{
    background-color: rgb(11, 11, 73);
    height: 600;
    text-align: center;
    padding-top: 50px;
}
.col-sm{
    color: gray;
}
h5{
    color: white;
}
h1{
    color:white;
    font-size: 30px;
    font-weight: bold;
    font-family:moui-serif ;
}

#links{
    height: 300px;
     padding-bottom: 450px; 
    text-align: center;
    padding-top: 50px; 
} 
h6{
    color: brown;
    font-size: 16px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: rgba(60, 29, 197, 0.384);
    height: 60px;
    font-size: x-large;
}
.green{
    color: rgb(16, 88, 16);
    padding-left: 30px;
}
.blue{
    color: rgb(16, 16, 223);
    padding-left: 30px;
}
.white{
    color: white;
    padding-left: 30px;
}
.bluew{
    color: rgb(10, 10, 228);
}
